@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@using DeMol.Domain

<PageTitle>Home</PageTitle>

<h1>Wie is de Mol ?</h1>
@if (user.Identity.IsAuthenticated)
{
    <h2>Ben jij de Mol, @user.Identity.Name ?</h2>
}

<p>In het geval dat ik wat meer tijd vind, spelregels, overzicht, blablabla</p>