@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@using DeMol.Domain

<PageTitle>Home</PageTitle>

<h1>Wie is de Mol ?</h1>
@if (user.Identity.IsAuthenticated)
{
    <h2>Ben jij de Mol, @user.Identity.Name ?</h2>
}
<body>
<div>
    <p>Stem na iedere aflevering op je top 3 mogelijke mollen & winnaars</p>
    <p>Na de bekendmaking is je mol of winnaar punten waard naar gelang zijn positie en het aantal stemmen</p>
    <p>#1 - 3 punten</p>
    <p>#2 - 2 punten</p>
    <p>#3 - 1 punt</p>
</div>
</body>