@page "/candidate/edit"
@page "/candidate/edit/{Id:int}"

@using DeMol.App.Services
@inject CandidateService CandidateService
@inject NavigationManager NavigationManager


    <EditForm Model="@_candidate" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="name">Naam:</label>
            <InputText id="name" class="form-control" @bind-Value="_candidate.Name" />
        </div>
        <div class="form-group">
            
        </div>
        <div class="form-group">
            <label for="photoUrl">Foto URL:</label>
            <InputText id="photoUrl" class="form-control" @bind-Value="_candidate.PhotoUrl" />
        </div>

        <button type="submit" class="btn btn-primary">Opslaan</button>
    </EditForm>
