@page "/candidates"
@using DeMol.App.Services
@inject CandidateService CandidateService
@inject NavigationManager NavigationManager


@if (candidates == null)
{
    <p><em>Loading...</em></p>
}
else if (candidates.Count == 0)
{
    <p>Geen kandidaten gevonden.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Photo URL</th>
            <th>Naam</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var candidate in candidates)
        {
            <tr>
                <td><img src="@candidate.PhotoUrl" alt="Foto van @candidate.Name" style="height: 50px; width: auto;"/></td>
                <td>@candidate.Name</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => EditCandidate(candidate.Id)">Bewerken</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}