@page "/games"
@using DeMol.App.Services

<h3>Beheer Games</h3>

<button class="btn btn-primary" @onclick="CreateGame">Nieuwe Game</button>

@if (games != null)
{
foreach (var game in games)
{
<div>
    Jaar: @game.Year, Prijs: @game.PrizeMoney €
    <button class="btn btn-secondary" @onclick="() => EditGame()">Bewerken</button>
    <button class="btn btn-danger" @onclick="() => DeleteGame(game.Id)">Verwijderen</button>
</div>
}
}