@page "/admin"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "IsAdmin")]
<h3>Admin</h3>

<div class="top-menu">
    <a href="/candidates">Kandidaten</a>
    <a href="/createvotinground">Creeër stemronde</a>
    <a href="/games">Overzicht spel</a>
</div>