@page "/createvotinground"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
<h3>CreateVotingRound</h3>

<EditForm Model="@newVotingRound" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputNumber @bind-Value="newVotingRound.Round"/>
    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="newVotingRound.StartTime" />
    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="newVotingRound.EndTime" />
    <button class="btn btn-primary" type="submit">Publiceer Ronde</button>
</EditForm>
